body {
	background-color: #15202b;
}

h1 {
	color: #ffffff;
	margin: 20px 120px;
	font-size: 60px;
	font-family: sans-serif
}

h2 {
	color: #ffffff;
	margin: 10px 150px 10px 140px;
	font-size: 40px;
	font-family: sans-serif
}

h3 {
	color: #ffffff;
	margin: 20px 150px 10px 160px;
	font-size: 35px;
	font-family: sans-serif
}

h4 {
	color: #ffffff;
	margin: 50px 150px 0px 100px;
	font-size: 40px;
	font-family: sans-serif
}

p {
	color: #dddddd;
	margin: 5px 150px 10px 175px;
	font-size: 20px;
}

ul {
	color: #ffffff;
	margin: 5px 150px 5px 175px;
	font-size: 30px;
}

dl {
	color: #ffffff;
	margin: 5px 150px 5px 175px;
	font-size: 20px;
}